[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "portable-file-dialogs"]
	path = portable-file-dialogs
	url = https://github.com/samhocevar/portable-file-dialogs.git
[submodule "IconFontCppHeaders"]
	path = IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "Font-Awesome"]
	path = Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
